.sidebar-container {
  height: 100vh;
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #0e141e;
  flex-direction: column;
  position: sticky;
  top: 0;
}
.sidebar-container.false {
  width: 65px;
}
.sidebar-container.false span {
  display: none !important;
}
.sidebar-container.false .sidebar-up img {
  margin-right: 0 !important;
}
.sidebar-container.false .sidebar-up .sidebar-header::after {
  width: 30px;
}
.sidebar-container.false .sidebar-up a li {
  width: 65px !important;
  justify-content: center !important;
}
.sidebar-container.false .sidebar-up a li img {
  margin-right: 0 !important;
}
.sidebar-container.false .sidebar-up a:nth-child(4) img {
  left: -2px !important;
}
.sidebar-container.false .sidebar-down {
  margin-right: 5px;
}
.sidebar-container.false .sidebar-down img {
  transform: rotate(0);
  margin-right: 0;
}
.sidebar-container .sidebar-up {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.sidebar-container .sidebar-up .sidebar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 25px;
}
.sidebar-container .sidebar-up .sidebar-header::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 2px;
  background-color: rgb(59, 67, 85);
  left: 50%;
  transform: translateX(-50%);
  bottom: -8px;
}
.sidebar-container .sidebar-up .sidebar-header img {
  width: 26px;
  margin-right: 5px;
}
.sidebar-container .sidebar-up .sidebar-header .sidebar-logo {
  color: white;
  font-size: 28px;
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.sidebar-container .sidebar-up .sidebar-nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}
.sidebar-container .sidebar-up .sidebar-nav-items a:not(:last-child) {
  margin-bottom: 10px;
}
.sidebar-container .sidebar-up .sidebar-nav-items a li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 9px 20px;
  width: 150px;
  cursor: pointer;
  transition: 0.3s;
}
.sidebar-container .sidebar-up .sidebar-nav-items a li.active {
  border-left: 4px solid #00a9ff;
  background-color: rgb(22, 30, 46);
}
.sidebar-container .sidebar-up .sidebar-nav-items a li:not(.active):hover {
  background-color: rgb(22, 30, 46);
  border-radius: 10px;
}
.sidebar-container .sidebar-up .sidebar-nav-items a li img {
  width: 40px;
  height: 40px;
  transition: 0.3s;
  margin-right: 10px;
}
.sidebar-container .sidebar-up .sidebar-nav-items a li span {
  color: white;
  font-weight: bold;
  font-size: 16px;
}
.sidebar-container .sidebar-up .sidebar-nav-items a:nth-child(4) li {
  position: relative;
}
.sidebar-container .sidebar-up .sidebar-nav-items a:nth-child(4) li img {
  position: relative;
  left: -7px;
  top: -3px;
  width: 45px;
  height: 45px;
}
.sidebar-container .sidebar-up .sidebar-nav-items a:nth-child(4) li span {
  position: relative;
  left: -6px;
}
.sidebar-container .sidebar-down {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 10px;
  padding: 9px 12px;
  cursor: pointer;
  transition: 0.3s;
}
.sidebar-container .sidebar-down img {
  width: 20px;
  height: 20px;
  transition: 0.3s;
  margin-right: 10px;
  transform: rotate(180deg);
}
.sidebar-container .sidebar-down span {
  color: #ddd;
  font-weight: bold;
  font-size: 16px;
}
.sidebar-container .sidebar-down:hover {
  background-color: rgb(22, 30, 46);
  border-radius: 10px;
}/*# sourceMappingURL=sidebar.css.map */