.single-post {
  border-top: 2px solid #242526;
  padding: 20px 25px 15px;
}
.single-post .single-post-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: relative;
}
.single-post .single-post-info .single-post-info-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.single-post .single-post-info .single-post-info-div .s-p-img {
  width: 55px;
  border-radius: 50%;
  margin-right: 10px;
}
.single-post .single-post-info .single-post-info-div .s-p-details {
  width: 100%;
}
.single-post .single-post-info .single-post-info-div .s-p-details h3 {
  font-size: 18px;
  margin-bottom: 5px;
}
.single-post .single-post-info .single-post-info-div .s-p-details p {
  font-size: 16px;
  color: #ddd;
}
.single-post .single-post-info .single-post-info-div .s-p-details textarea {
  font-family: OpenSans, Arial, Helvetica, sans-serif;
  width: 500px;
  overflow-y: hidden;
  border: none;
  padding: 12.2px 15px 5px;
  border-radius: 6px;
  background-color: #242526;
  caret-color: #f2f2f2;
  color: #f2f2f2;
  margin-right: 20px;
  font-size: 16px;
  resize: none;
}
.single-post .single-post-info .single-post-info-div .s-p-details textarea:focus {
  outline: none;
}
.single-post .single-post-info .single-post-controls {
  position: absolute;
  top: -5px;
  right: 0;
}
.single-post .single-post-info .single-post-controls + span {
  font-size: 16px;
  color: #596b8e;
  font-weight: bold;
  width: 137px;
}
.single-post .single-post-info .single-post-controls .controls {
  display: none;
  position: relative;
  top: -5px;
}
.single-post .single-post-info .single-post-controls .controls img {
  width: 35px;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.single-post .single-post-info .single-post-controls .controls img:hover {
  background-color: #242526;
}
.single-post .s-p-reactbtn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin-left: 52px;
  width: -moz-fit-content;
  width: fit-content;
}
.single-post .s-p-reactbtn:hover img {
  background-color: #242526;
}
.single-post .s-p-reactbtn:hover .react-info {
  display: block;
}
.single-post .s-p-reactbtn img {
  padding: 6px;
  width: 33px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.single-post .s-p-reactbtn .react-info {
  position: absolute;
  bottom: -30px;
  left: -7px;
  display: none;
  background-color: #242526;
  color: #fff;
  border-radius: 12px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
}
.single-post .s-p-reactbtn .react-cnt {
  margin-top: 2px;
  font-size: 16px;
  cursor: pointer;
}
.single-post .s-p-reactbtn .react-cnt.false {
  color: #cbcbcb;
}
.single-post .s-p-reactbtn .react-cnt.true {
  color: #f55353;
}
.single-post.false.can:hover .single-post-controls + span {
  display: none;
}
.single-post.false.can:hover .single-post-controls .controls {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.single-post.true.can .single-post-controls + span {
  display: none;
}
.single-post.true.can .single-post-controls .controls {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.single-post.not .single-post-controls, .single-post.not:hover .single-post-controls {
  display: none;
}

.delete-panel {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0 10px;
}
.delete-panel span {
  margin-bottom: 10px;
}
.delete-panel .delete-panel-btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.delete-panel .delete-panel-btns .Yes-btn {
  padding: 10px 50px;
  font-size: 15px;
  font-weight: bold;
  background-color: #00a9ff;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}
.delete-panel .delete-panel-btns .Yes-btn:hover {
  background-color: #49c2ff;
}
.delete-panel .delete-panel-btns .No-btn {
  padding: 10px 50px;
  font-size: 15px;
  font-weight: bold;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}
.delete-panel .delete-panel-btns .No-btn:hover {
  background-color: #919191;
}/*# sourceMappingURL=singlepost.css.map */