@use "../../../../shared/styles/colors" as *;
@use "../../../../shared/styles/mixins" as *;

.single-post {
  border-top: 2px solid $mainColor2;
  padding: 20px 0 15px;
  .single-post-info {
    @include between;
    color: white;
    position: relative;
    .single-post-info-div {
      @include start;
      width: 100%;

      .s-p-img {
        width: 55px;
        border-radius: 50%;
        margin-right: 10px;
      }
      .s-p-details {
        width: 100%;
        h3 {
          font-size: 18px;
          margin-bottom: 5px;
        }
        p {
          font-size: 16px;
          color: #ddd;
        }
        textarea {
          font-family: OpenSans, Arial, Helvetica, sans-serif;
          width: 500px;
          // min-height: 40px;
          // overflow-wrap: break-word;\
          overflow-y: hidden;
          border: none;
          padding: 12.2px 15px 5px;
          border-radius: 6px;
          background-color: $mainColor2;
          caret-color: $hoverColor;
          color: $hoverColor;
          margin-right: 20px;
          font-size: 16px;
          resize: none;
          &:focus {
            outline: none;
          }
        }
      }
    }
    .single-post-controls {
      position: absolute;
      top: -5px;
      right: 0;
      span {
        font-size: 16px;
        color: #596b8e;
        font-weight: bold;
      }
      .controls {
        display: none;
        position: relative;
        top: -5px;
        img {
          width: 35px;
          padding: 6px;
          border-radius: 50%;
          cursor: pointer;
          transition: 0.3s;
          user-select: none;
          &:hover {
            background-color: $mainColor2;
          }
        }
      }
    }
  }
  .s-p-reactbtn {
    @include start;
    position: relative;
    margin-left: 52px;
    width: fit-content;
    &:hover {
      img {
        background-color: $mainColor2;
      }
      .react-info {
        display: block;
      }
    }
    img {
      padding: 6px;
      width: 33px;
      border-radius: 50%;
      cursor: pointer;
      transition: 0.3s;
      user-select: none;
    }
    .react-info {
      position: absolute;
      bottom: -30px;
      left: -7px;
      display: none;
      background-color: $mainColor2;
      color: #fff;
      border-radius: 12px;
      padding: 5px 10px;
      font-size: 14px;
      font-weight: bold;
    }
    .react-cnt {
      // margin-left: 2px;
      margin-top: 2px;
      font-size: 16px;
      cursor: pointer;
      &.false {
        color: #cbcbcb;
      }
      &.true {
        color: $redColor;
      }
    }
    // .react-button {
    //   padding: 6px;
    //   background-color: $mainColor2;
    //   border-radius: 50%;
    //   @include center;
    //   cursor: pointer;
    //   transition: 0.3s;
    //   img {
    //     width: 25px;
    //     // margin-right: 8px;
    //   }
    //   &:hover {
    //     background-color: $hoverColor;
    //     // border-radius: 5px;
    //   }
    //   span {
    //     position: absolute;
    //     right: -35px;
    //   }
    // }
    // .reactions-popup {
    //   position: absolute;
    //   @include between;
    //   width: 180px;
    //   bottom: -50px;
    //   left: -70px;
    //   background-color: #06090d;
    //   box-shadow: $lightShadow;
    //   padding: 4px 8px;
    //   border-radius: 25px;
    //   &.false {
    //     display: none;
    //   }
    //   &.true {
    //     display: flex;
    //   }
    //   .r-p-box {
    //     @include center;
    //     flex-direction: column;
    //     .r-p-box-img {
    //       position: relative;
    //       transition: 0.2s;
    //       &:hover {
    //         transform: scale(1.2);
    //         & + span {
    //           display: block;
    //         }
    //       }
    //       img {
    //         width: 35px;
    //         height: 35px;
    //         margin-top: 5px;
    //         cursor: pointer;
    //       }
    //     }
    //     span {
    //       position: absolute;
    //       background-color: black;
    //       color: white;
    //       padding: 6px 10px;
    //       border-radius: 20px;
    //       font-size: 14px;
    //       top: -32px;
    //       display: none;
    //     }
    //   }
    // }
  }
  &.false:hover {
    .single-post-controls {
      span {
        display: none;
      }
      .controls {
        display: flex;
        justify-content: center;
        align-items: flex-start;
      }
    }
  }
  &.true {
    .single-post-controls {
      span {
        display: none;
      }
      .controls {
        display: flex;
        justify-content: center;
        align-items: flex-start;
      }
    }
  }
  //   .s-p-reactions-cnt {
  //     display: flex;
  //     justify-content: flex-start;
  //     padding: 10px 10px 15px;
  //     margin-left: 40px;
  //     .single-reaction {
  //       width: 18px;
  //     }
  //     span {
  //       font-size: 16px;
  //       font-weight: bold;
  //       margin-left: 5px;
  //       color: white;
  //     }
  //   }
}
