@use "../../../../shared/styles/colors" as *;
@use "../../../../shared/styles/mixins" as *;

.event-card {
    @include center;
    box-shadow: $lightShadow;
    background-color: $redColor;
    width: 380px;
    border-radius: 12px;
    margin-top: 20px;
    margin-left: 90px;
    padding: 10px;
    color: white;
    text-align: center;
    padding: 20px;
    &:nth-child(1){
        background-color: $redColor;
    }
    &:nth-child(2){
        background-color: #0093dc;
        h3::after{
            right: 0px;
            left: -10px;
        }
        .ec-details{
            margin-left: 0px;
            margin-right: 5px;
        }
        
        flex-direction: row-reverse;
        
    }
    h3{
        position: relative;
        top: -10px;
        font-size: 25px;
        margin-bottom: 10px;    
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 2px;
            height: 70px;
            right: -10px;
            top: -4px;
            background-color: white;
        }
    }
    .ec-details{
        position: relative;
        top: 10px;
        @include center;
        flex-direction: column;
        margin-left: 5px;
        margin-bottom: 15px;
        p{
            padding: 0px 15px;
            width: 250px;
            font-size: 13px;
            line-height: 1.5;
            color: #eee;
            font-weight: bold;
        }
        .groofybtn {
            margin-top: 10px;
            background-color: white;
            color: $mainColor;
            width: 70px;
            padding: 7px;
            border-radius: 12px;
            &:hover{
                background-color:$mainColor ;
                color: white;
            }
            .btn-text{
                font-size: 12px;
            }
          }
    }
}