@use "../../../shared/styles/colors" as *;
@use "../../../shared/styles/mixins" as *;

.match_overlay {
  @include center;
  width: 100vw;
  height: 100vh;
  background-color: rgba($mainColorHover2, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  .match_popup {
    padding: 15px;
    background-color: #fff;
    border-radius: 12px;
    width: 500px;
    height: 430px;
    animation: show-animation 0.5s ease-in-out forwards;
    position: relative;
    .trophy_icn {
      @include center;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
      img {
        width: 100px;
        height: 100px;
      }
    }
    .match_status {
      text-align: center;
    }
    .info_game {
      @include around;
      width: 100%;
      margin-top: 35px;
      .info_game_attemps {
        @include center;
        flex-direction: column;
        span {
          font-size: 32px;
          font-weight: bold;
          margin-bottom: 10px;
        }
        h3 {
          font-size: 22px;
          font-weight: 300;
        }
      }
      .info_game_elapsedtime {
        @include center;
        flex-direction: column;
        span {
          font-size: 32px;
          font-weight: bold;
          margin-bottom: 10px;
        }
        h3 {
          font-size: 22px;
          font-weight: 300;
        }
      }
    }
    .match_result {
      margin: 12px 0 0;
      text-align: center;
    }
    .result_box {
      @include center;
      h3 {
        font-size: 20px;
        font-weight: bold;
        margin-right: 10px;
      }
      .result {
        @include center;
        span {
          font-size: 20px;
        }
        i {
          margin-left: 5px;
          margin-right: 5px;
        }
        h5 {
          font-size: 20px;
          &.win {
            color: $greenColor;
          }
          &.lose {
            color: $redColor;
          }
          &.draw {
            color: black;
          }
        }
      }
    }
    .match_stats {
      width: 100%;
      text-align: center;
      margin-top: 10px;
      thead {
        font-weight: bold;
      }
    }
    .btn_box {
      width: 100%;
      position: absolute;
      bottom: 20px;
      left: -28%;
      text-align: center;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      .match_btn {
        padding: 10px 15px;
        background-color: $blueColor;
        color: #fff;
        border-radius: 12px;
        width: 200px;
        cursor: pointer;
        transition: background-color 0.3s;
        &:hover {
          background-color: $blueHoverLightColor;
        }
      }
    }
  }
}

@keyframes show-animation {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
