@use "../../../shared/styles/colors" as *;
@use "../../../shared/styles/mixins" as *;
.header-container {
  height: 60px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  @include between;
  padding: 0 20px;
  background-color: $mainColor;
  .header-logo {
    width: 130px;
    height: auto;
    position: relative;
    span {
      color: white;
      font-size: 26px;
      font-weight: bold;
      user-select: none;
      span {
        color: $blueColor;
      }
    }
    &::after {
      content: "";
      position: absolute;
      width: 2px;
      height: 20px;
      background-color: rgb(59, 67, 85);
      right: -30px;
      top: 4px;
    }
  }
  .header-nav-items {
    @include center;
    li {
      img {
        width: 36px;
        height: 36px;
        transition: 0.3s;
      }
      &.active {
        border-bottom: 4px solid $blueColor;
      }
      padding: 9px 40px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background-color: rgb(22, 30, 46);
        border-radius: 10px;
      }
    }
  }
  .header-user-area {
    @include center;
    user-select: none;
    .header-h-usn {
      color: #fff;
      font-weight: 400;
      font-size: 18px;
      margin-right: 10px;
    }
    .header-h-imgbox {
      @include center;
      position: relative;
      margin-right: 10px;
      .header-pr-ph {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        box-shadow: $headerShadow;
        transition: 0.3s;
        &:hover {
          box-shadow: none;
        }
        cursor: pointer;
      }
    }
    // .exit-btn {
    //   @include center;
    //   width: 32px;
    //   height: 32px;
    //   gap: 0 5px;
    //   border: none;
    //   border-radius: 50%;
    //   background-color: $redColor;
    //   padding: 4px 12px;
    //   user-select: none;
    //   color: #fff;
    //   box-shadow: $headerShadow;
    //   transition: 0.3s;
    //   &:hover {
    //     box-shadow: none;
    //   }
    //   cursor: pointer;
    //   img {
    //     width: 22px;
    //   }
    //   span {
    //     font-family: "Roboto", sans-serif;
    //     font-size: 18px;
    //   }
    // }
  }
}
