.header-container {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 15px;
  position: relative;
}
.header-container .notify-area {
  position: absolute;
  top: 100%;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 500px;
  right: 55px;
  border-radius: 0 0 10px 10px;
}
.header-container .notify-area.false {
  display: none;
}
.header-container .notify-area .notify-header {
  font-size: 20px;
  border-bottom: 1px solid #ddd;
  padding: 15px 10px 10px 15px;
}
.header-container .notify-area .na-content {
  padding: 10px;
  max-height: 350px;
  overflow-x: hidden;
  overflow-y: auto;
}
.header-container .notify-area .na-content::-webkit-scrollbar {
  width: 6px;
}
.header-container .notify-area .na-content::-webkit-scrollbar-track {
  background-color: #f1f5f9;
  border-radius: 10px;
}
.header-container .notify-area .na-content::-webkit-scrollbar-thumb {
  background-color: #0e141e;
  border-radius: 10px;
}
.header-container .notify-area .na-content .empty-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 15px;
}
.header-container .notify-area .na-content .empty-box img {
  width: 100px;
}
.header-container .notify-area .na-content .empty-box span {
  color: #777;
  font-size: 16px;
}
.header-container .notify-area .notify-clear {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #ddd;
  padding: 15px;
  font-size: 17px;
  font-weight: bold;
  background-color: #eee;
  transition: 0.2s;
  border-radius: 0 0 10px 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.header-container .notify-area .notify-clear:hover {
  background-color: #0e141e;
  color: #fff;
}
.header-container .profile-area {
  position: absolute;
  top: 100%;
  right: 10px;
  background-color: #fff;
  border-radius: 0 0 6px 6px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 15px 10px;
  border-top: 4px solid #f55353;
}
.header-container .profile-area.false {
  display: none;
}
.header-container .profile-area .pa-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 300px;
  margin-bottom: 30px;
  border-radius: 6px;
  transition: 0.3s;
  padding: 5px 0px;
}
.header-container .profile-area .pa-info::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  background-color: #ddd;
}
.header-container .profile-area .pa-info img {
  width: 40px;
  border-radius: 50%;
  margin-right: 5px;
}
.header-container .profile-area .pa-info span {
  font-weight: bold;
  color: #191919;
}
.header-container .profile-area .logout {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 6px;
  transition: 0.3s;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: calc(100% - 10px);
  margin-left: 10px;
  padding: 10px;
  color: #0e141e;
}
.header-container .profile-area .logout:hover {
  background-color: #f55353;
  color: #fff;
}
.header-container .profile-area .logout img {
  width: 24px;
  margin-right: 5px;
}
.header-container .profile-area .logout span {
  font-weight: bold;
  margin-left: 10px;
}
.header-container .header-logo {
  display: flex;
  width: 130px;
  height: 20px;
  position: relative;
}
.header-container .header-logo span {
  color: white;
  font-size: 26px;
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.header-container .header-logo span span {
  color: #00A9FF;
}
.header-container .header-logo::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: rgb(59, 67, 85);
  right: -30px;
  top: 4px;
}
.header-container .header-logo .level-container {
  position: relative;
}
.header-container .header-logo .level-container .pc-header {
  position: absolute;
  margin-left: 70px;
  font-size: 13px;
  z-index: 1;
  top: 6px;
  left: 35px;
  color: #0e141e;
}
.header-container .header-logo .level-container .progress {
  background-color: white;
  margin: 5px 15px;
  position: relative;
  border-radius: 0 12px 12px 0;
  height: 18px;
  width: 200px;
  left: 50px;
  margin-bottom: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-container .header-logo .level-container .progress .progress-level {
  position: absolute;
  left: -31px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #f55353;
  font-weight: bold;
  color: #fff;
  font-size: 18px;
  text-align: center;
  -webkit-clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
          clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}
.header-container .header-logo .level-container .progress .progress-box {
  position: absolute;
  height: 100%;
  background: linear-gradient(90deg, #00a9ff, #87c4ff);
  border-radius: 0 12px 12px 0;
}
.header-container .header-user-area {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
}
.header-container .header-user-area .header-h-usn {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  margin-right: 10px;
}
.header-container .header-user-area .header-h-imgbox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header-container .header-user-area .header-h-imgbox .pr-ph {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-container .header-user-area .header-h-imgbox .pr-ph .header-pr-ph {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.header-container .header-user-area .header-h-imgbox .pr-ph .header-pr-ph:active {
  transform: scale(0.95);
}/*# sourceMappingURL=groofyheader.css.map */