@use "../../../shared/styles/colors" as *;
@use "../../../shared/styles/mixins" as *;
.header_container {
  height: 60px;
  width: 100%;
  @include between;
  margin-top: 20px;
  position: relative;
  margin-bottom: 15px;
  .notify_area {
    position: absolute;
    top: 100%;
    background-color: #fff;
    box-shadow: $headerShadow;
    width: 430px;
    right: 30px;
    border-radius: 0 0 10px 10px;
    z-index: 100000;
    &.false {
      display: none;
    }
    .notify_header {
      @include between;
      border-bottom: 1px solid #ddd;
      padding: 10px 15px 5px;
      h3 {
        font-size: 18px;
      }
      .clear_notify {
        @include center;
        margin-right: 10px;
        padding: 7px;
        border-radius: 50%;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
          background-color: #eee;
        }
        img {
          width: 18px;
        }
      }
    }
    .na_content {
      padding: 10px;
      max-height: 350px;
      overflow-x: hidden;
      overflow-y: auto;
      @include scrollbar;
      .empty_box {
        @include center;
        flex-direction: column;
        margin-bottom: 12px;
        img {
          width: 60px;
        }
        span {
          color: #777;
          font-size: 14px;
        }
      }
    }
    .see_all {
      @include center;
      border-top: 1px solid #ddd;
      padding: 15px;
      font-size: 14px;
      font-weight: bold;
      background-color: #eee;
      transition: 0.2s;
      border-radius: 0 0 10px 10px;
      user-select: none;
      cursor: pointer;
      &:hover {
        background-color: $mainColor;
        color: #fff;
      }
    }
  }
  .profile_area {
    position: absolute;
    top: 100%;
    right: 10px;
    background-color: #fff;
    border-radius: 0 0 6px 6px;
    box-shadow: $headerShadow;
    padding: 15px 10px;
    border-top: 4px solid $blueColor;
    z-index: 1;
    &.false {
      display: none;
    }
    .pa_info {
      @include start;
      position: relative;
      width: 230px;
      margin-bottom: 15px;
      border-radius: 6px;
      transition: 0.3s;
      padding: 5px 0px;
      user-select: none;
      &::after {
        content: "";
        position: absolute;
        height: 1px;
        width: 100%;
        left: 50%;
        bottom: -10px;
        transform: translateX(-50%);
        background-color: #ddd;
      }
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 5px;
        margin-left: 5px;
      }
      span {
        font-weight: bold;
        color: #191919;
        font-size: 16px;
      }
      &:hover {
        background-color: #eee;
      }
    }
    .pa_menu {
      @include start;
      width: fit-content;
      border-radius: 6px;
      transition: 0.3s;
      cursor: pointer;
      user-select: none;
      width: 100%;
      padding: 10px;
      color: $mainColor;
      &:hover {
        background-color: $blueColor;
        color: #fff;
      }
      img {
        width: 16px;
        margin-right: 5px;
      }
      span {
        font-weight: bold;
        margin-left: 10px;
        font-size: 14px;
      }
    }
  }
  .header_left_area {
    @include center;
    .burger {
      font-size: 30px;
      color: #fff;
      margin-right: 10px;
    }
    .header_logo {
      display: flex;
      align-items: center;
      width: 200px;
      position: relative;
      img {
        width: 190px;
      }
      span {
        color: white;
        font-size: 26px;
        font-weight: bold;
        user-select: none;
        span {
          color: $blueColor;
        }
      }
      &::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 25px;
        background-color: rgb(59, 67, 85);
        right: -10px;
        top: 17px;
      }
    }
    .search {
      @include center;
      padding: 10px;
      border-radius: 12px;
      background-color: $mainColor;
      margin-left: 25px;
      margin-right: 15px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background-color: $mainColorHover2;
      }
      i {
        text-align: center;
        font-size: 22px;
        color: #fff;
      }
      span {
        color: white;
        margin-left: 10px;
      }
      &.active {
        background-color: $mainColorHover2;
      }
    }
  }
  .header_user_area {
    @include center;
    user-select: none;
    position: relative;
    .header_h_usn {
      color: #fff;
      font-weight: 400;
      font-size: 18px;
      margin-right: 10px;
    }
    .header_h_imgbox {
      @include center;
      position: relative;
      margin-right: 10px;
      .pr_ph {
        @include center;
        .header_pr_ph {
          border-radius: 50%;
          width: 45px;
          height: 45px;
          cursor: pointer;
          &:active {
            transform: scale(0.95);
          }
        }
      }
    }
  }
}
