@use "../../../../shared/styles/colors" as *;
@use "../../../../shared/styles/mixins" as *;

.gamemode {
  @include center;
  flex-direction: column;
  background-color: $mainColor;
  width: fit-content;
  padding: 10px;
  height: 340px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
  user-select: none;
  box-shadow: $headerShadow;
  &:not(:last-of-type) {
    margin-right: 30px;
  }
  &:hover {
    background-color: rgb(20, 27, 40);
  }
  img {
    width: 120px;
    margin-bottom: 20px;
  }
  .gm-info {
    text-align: center;
    h3 {
      color: $hoverColor;
      font-size: 22px;
      margin-bottom: 10px;
    }
    p {
      color: #999999;
      width: 230px;
      line-height: 1.4;
      font-size: 14px;
    }
  }
}

.mini-gamemode {
  @include start;
  background-color: $mainColor;
  box-shadow: $headerShadow;
  transition: 0.3s;
  width: 270px;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
  user-select: none;
  &:not(:last-of-type) {
    margin-bottom: 30px;
  }
  &:hover {
    background-color: rgb(20, 27, 40);
  }
  img {
    width: 40px;
    margin-right: 20px;
  }
  h3 {
    color: $hoverColor;
  }
}
