.backgroundProfile {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  align-items: flex-start;
  margin-left: 10px;
  height: 1200px;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 97% 100%, 3% 100%, 0 95%);
  transform: scale(0.9);
  padding-right: 80px;
}
.backgroundProfile::before,
.backgroundProfile::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #ddd;
}
.backgroundProfile::before {
  top: 75px;
}
.backgroundProfile::after {
  bottom: 80px;
}
.profile-settings-buttons {
  padding-left: 60px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.profile-nav-btn-container {
  margin-top: 20px;
  margin-right: 25px;
  width: fit-content;
}
.profile-nav-btn-container .groofybtn {
  color: white;
  background-color: #ff9b00;
}
.profile-nav-btn-container:not(.active) .groofybtn {
  color: white;
  background-color: #ffbf5c;
}
.profile-info {
  /* width: 100%; */
  display: flex;
  position: relative;
  top: 70px;
  padding-left: 60px;
}
