.backgroundProfile {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    align-items: flex-start;
    width: calc(100% - 250px);
    margin-left: 150px;
    height: 1200px;
    clip-path: polygon(0 0, 100% 0, 100% 95%, 97% 100%, 3% 100%, 0 95%);
}
.backgroundProfile::before,
.backgroundProfile::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #ddd;
}
.backgroundProfile::before {
  top: 75px;
}
.backgroundProfile::after {
  bottom: 80px;
}
.profile-settings-buttons{
    padding-left: 150px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    position: relative;
}
.profile-nav-btn-container {
    margin-top: 20px;
    margin-right: 25px;
    width: fit-content;
}
.profile-nav-btn-container .groofybtn{
    color: white;
    background-color: #FF9B00;
}
.profile-nav-btn-container:not(.active) .groofybtn{
    color: white;
    background-color: #FFBF5C;
}
.profile-info{
    /* width: 100%; */
    display: flex;
    position: relative;
    top: 70px;
    padding-left: 150px;

}