.backgroundProfile {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    align-items: center;
    width: 100%;
    height: 1200px;
    clip-path: polygon(0 0, 100% 0, 100% 95%, 97% 100%, 3% 100%, 0 95%);
}
.backgroundProfile::before,
.backgroundProfile::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #ddd;
}
.backgroundProfile::before {
  top: 75px;
}
.backgroundProfile::after {
  bottom: 80px;
}
.profile-settings-buttons{
    width: 100%;
    display: flex;
    position: relative;
    left: 75px;
}
.groofybtn {
    color: white;
    margin-top: 20px;
    width: 80px;
    margin-right: 25px;
}
.btn-containerProfile .groofybtn {
    width: 80px;
    background-color: #FF9B00;
}
.btn-containerSettings .groofybtn {
    width: 90px;
    background-color: #FFBF5C;
}
.btn-containerFriends .groofybtn {
    width: 120px;
    background-color: #FFBF5C;
}
.btn-containerClan .groofybtn {
    width: 70px;
    background-color: #FFBF5C;
}
.btn-containerHistory .groofybtn {
    width: 85px;
    background-color: #FFBF5C;
}
.profile-info{
    width: 100%;
    display: flex;
    position: relative;
    top: 70px;
    left: 75px;
}