@use "../../../../../shared/styles/colors" as *;
@use "../../../../../shared/styles/mixins" as *;

@mixin outputSection {
  .op_sec {
    margin-top: 55px;
    .op_title {
      display: block;
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: 500;
    }
    .op_info {
      @include center;
      flex-direction: column;
      background-color: #fff;
      border-radius: 6px;
      box-shadow: $lightShadow;
      padding: 15px;
      gap: 42px 0;
      margin-right: 10px;
      .op_box {
        @include center;
        flex-direction: column;
        width: 100%;
        position: relative;
        &:not(:last-of-type) {
          @include bottomSeparator(100%, 0, -31px, 0);
        }
        .info_title {
          font-weight: bold;
          font-size: 20px;
          position: relative;
          @include bottomSeparator(200px, 0, -5px, 1);
        }
        .op_info_container {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          gap: 0 20px;
          margin-top: 20px;
        }
      }
    }
  }
}
