@use "../../../shared/styles/colors" as *;
@use "../../../shared/styles/mixins" as *;

.groofybtn {
  @include center;
  background-color: $blueColor;
  color: #fff;
  border-radius: 12px;
  min-width: 140px;
  width: fit-content;
  box-shadow: $headerShadow;
  padding: 8px 12px;
  transition: 0.3s;
  border: none;
  cursor: pointer;
  user-select: none;
  &:hover {
    box-shadow: none;
    background-color: $blueHoverLightColor;
  }
  &:disabled {
    background-color: $darkColor;
    cursor: not-allowed;
  }
  .btn_text {
    font-size: 14px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
  }
  .btn_icn {
    width: 25px;
    height: 25px;
    margin-right: 5px;
  }
}
