.profile-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profile-div .p-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 25px;
}
.profile-div .p-wrapper .p-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 25px;
}
.profile-div .p-wrapper .p-content .p-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profile-div .p-wrapper .p-content .p-info .p-bio {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-div .p-wrapper .p-content .p-info .p-bio .bio-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profile-div .p-wrapper .p-content .p-info .p-bio .bio-box .bio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profile-div .p-wrapper .p-content .p-info .p-bio .bio-box .bio .bb {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.profile-div .p-wrapper .p-content .p-info .p-bio .bio-box .bio .bb p {
  color: #777;
  font-weight: bold;
  font-size: 15px;
}
.profile-div .p-wrapper .p-content .p-info .p-bio .bio-box .bio .bb .bb-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-div .p-wrapper .p-content .p-info .p-bio .bio-box .bio .bb .bb-info .wr,
.profile-div .p-wrapper .p-content .p-info .p-bio .bio-box .bio .bb .bb-info .ls,
.profile-div .p-wrapper .p-content .p-info .p-bio .bio-box .bio .bb .bb-info .ms {
  font-weight: bold;
}
.profile-div .p-wrapper .p-content .p-info .p-bio .bio-box .bio .bb .bb-info .ls {
  color: #18cf08;
}
.profile-div .p-wrapper .p-content .p-info .p-bio .rec-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-div .p-wrapper .p-content .p-info .p-bio .rec-wrapper .rec-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profile-div .p-wrapper .p-content .p-info .p-bio .rec-wrapper .rec-box .rc-i {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profile-div .p-wrapper .p-content .p-info .p-bio .rec-wrapper .rec-box .rc-i p {
  color: #bcbcbc;
  font-weight: bold;
  font-size: 14px;
}
.profile-div .p-wrapper .p-content .p-info .p-bio .rec-wrapper .rec-box .rec-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #4c4b4b;
}
.profile-div .p-wrapper .p-content .p-info .p-bio .rec-wrapper .rec-box .rec-cups {
  position: relative;
  background-color: #ddd;
  border-radius: 12px;
  padding: 2px 16px;
  font-size: 13px;
  font-weight: bold;
}
.profile-div .p-wrapper .p-content .p-info .p-bio .rec-wrapper .rec-box .rec-cups.rank {
  color: #feb139;
}
.profile-div .p-wrapper .p-content .p-info .p-bio .rec-wrapper .rec-box .rec-cups.clan {
  color: rgb(98, 0, 255);
}
.profile-div .p-wrapper .p-content .p-info .p-bio .rec-wrapper .rec-box .rec-cups img {
  width: 20px;
  position: absolute;
  left: -10px;
  top: 0;
}
.profile-div .p-wrapper .p-content .p-info .stats {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #eee;
  border-radius: 25px;
  padding: 35px 20px;
}
.profile-div .p-wrapper .p-content .p-info .stats .st-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.profile-div .p-wrapper .p-content .p-info .stats .st-row:not(:last-of-type) {
  margin-bottom: 20px;
}
.profile-div .p-wrapper .p-content .p-info .stats .st-row .st-item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.profile-div .p-wrapper .p-content .p-info .stats .st-row .st-item:not(:last-of-type) {
  margin-right: 15px;
}
.profile-div .p-wrapper .p-content .p-info .stats .st-row .st-item .sti-text {
  margin-bottom: 5px;
}
.profile-div .p-wrapper .p-content .p-info .stats .st-row .st-item .sti-num {
  background-color: #d4d4d4;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  width: 200px;
}
.profile-div .p-wrapper .p-content .p-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profile-div .p-wrapper .p-content .p-pic .pic-holder {
  width: 400px;
  height: 400px;
  position: relative;
  background-color: #4c4b4b;
}
.profile-div .p-wrapper .p-content .p-pic .pic-holder .pic-skin {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}
.profile-div .p-wrapper .p-content .p-pic .badges-holder {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-div .p-wrapper .p-content .p-pic .badges-holder img {
  position: absolute;
  width: 24px;
  right: -5px;
  top: 5px;
  cursor: pointer;
}
.profile-div .p-wrapper .p-content .p-pic .badges-holder .badge {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #4c4b4b;
}
.profile-div .p-wrapper .p-content .p-pic .badges-holder .badge:not(:last-of-type) {
  margin-right: 15px;
}/*# sourceMappingURL=newprofile.css.map */