@use "../../../shared/styles/colors" as *;
@use "../../../shared/styles/mixins" as *;

.team_select {
  .control_buttons {
    width: 100%;
    @include between;
    margin-top: 30px;
  }
  .team_select_header {
    @include center;
    margin-top: 30px;
    .input_text {
      width: calc(80% - 20px);
      margin-right: 20px;
    }
    .search_btn {
      width: 20%;
      background-color: #1890ff;
      border-color: #1890ff;
    }
  }
  .team_select_content {
    border-top: 1px solid #284a7a;
    margin-top: 15px;
    padding-top: 15px;
    .single_team {
      width: 100%;
      @include between;
      .invite_btn {
        background-color: $greenColor;
        border-color: $greenColor;
        color: #fff;
      }
    }
  }
}
