@use "../../../../../shared/styles/colors" as *;
@use "../../../../../shared/styles/mixins" as *;

.groofybtn {
  background-color: #008ace !important;
  width: 140px;
  border-radius: 6px;
  &:hover {
    background-color: $blueColor;
  }
}
