@use "../../../shared/styles/colors" as *;
@use "../../../shared/styles/mixins" as *;

.play-page {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: auto;
  .play-div {
    width: 1000px;
    height: 100%;
    .play-menu {
      @include center;
      flex-direction: column;
      background-color: rgb(30, 41, 61);
      width: fit-content;
      margin: auto;
      border-radius: 6px;
      padding: 10px 30px;
      position: relative;
      overflow: hidden;
      &::before {
        content: "";
        position: absolute;
        width: 2000px;
        height: 2000px;
        border-radius: 50%;
        top: -1900px;
        background-color: $mainColor;
      }
      .play-title {
        color: #fff;
        font-size: 30px;
        margin-top: 20px;
        position: relative;
        // position: relative;
        // &::before {
        //   content: "";
        //   position: absolute;
        //   width: 12px;
        //   height: 12px;
        //   border-radius: 50%;
        //   background-color: $hoverColor;
        //   bottom: -11px;
        //   left: 50%;
        //   transform: translateX(-50%);
        // }
        // &::after {
        //   content: "";
        //   position: absolute;
        //   width: 200px;
        //   height: 2px;
        //   background-color: $hoverColor;
        //   bottom: -7px;
        //   left: 50%;
        //   transform: translateX(-50%);
        // }
      }
      .play-modes {
        position: relative;
        @include center;
        flex-direction: column;
        margin-top: 50px;
        .gamemode-full:not(:last-of-type) {
          margin-bottom: 10px;
        }
      }
    }
  }
}
