.drop_down_panel
  [class~="p-dropdown-items-wrapper"]
  [class~="p-dropdown-items"]
  [class~="p-dropdown-item" + "p-highlight"] {
  background-color: #4e4e4e;
  border-radius: 6px 6px 0px 0px;
}

.drop_down_panel
  [class~="p-dropdown-items-wrapper"]
  [class~="p-dropdown-items"]
  [class~="p-dropdown-item"]:hover {
  background-color: #4e4e4e;
  border-radius: 6px 6px 0px 0px;
}

.drop_down_panel [class~="p-dropdown-header"] {
  background-color: #242526 !important;
  color: #eee;
  caret-color: #eee;
  /* border-color: #00aaff; */
  border-radius: 6px 6px 0px 0px;
}

.drop_down_panel [class~="p-dropdown-header"] input {
  background-color: #242526;
  color: #eee;
  /* border-color: #00aaff; */
  box-shadow: none;
}

.drop_down_panel
  [class~="p-dropdown-items-wrapper"]
  [class~="p-dropdown-items"] {
  background-color: #242526;
  /* border-color: #00aaff; */
  color: #eee;
  border-radius: 6px;
}
