.clan-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-left: 120px;
  margin-right: 60px;
  gap: 0 42px;
  height: calc(100vh - 130px);
}
.clan-div .c-info {
  display: flex;
  flex-direction: column;
  gap: 25px 0;
  height: 100%;
}
.clan-div .c-info .c-box {
  background-color: #fff;
  padding: 15px 20px;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 8% 100%, 0% 88%, 0 0);
          clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 8% 100%, 0% 88%, 0 0);
}
.clan-div .c-info .c-box:nth-child(1) {
  flex: 2;
}
.clan-div .c-info .c-box .c-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #eaedf2;
  margin-bottom: 10px;
}
.clan-div .c-info .c-box .c-header .ch-icn {
  width: 25px;
  cursor: pointer;
}
.clan-div .c-info .c-box .m-box {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
  position: relative;
  left: -5px;
  margin-right: 25px;
  margin-bottom: 40px;
}
.clan-div .c-info .c-box .m-box .member {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0 5px;
}
.clan-div .c-info .c-box .m-box .member .m-img {
  width: 55px;
}
.clan-div .c-info .c-box .m-box .member .m-img img {
  max-width: 100%;
}
.clan-div .c-info .c-box .m-box .member .m-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.clan-div .c-info .c-box .m-box .member .m-info .m-usn {
  font-size: 15px;
}
.clan-div .c-info .c-box .m-box .member .m-info .m-usi {
  font-size: 13px;
  color: #959595;
}
.clan-div .c-info .c-box .rm-box {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
  margin-bottom: 30px;
}
.clan-div .c-info .c-box .rm-box .member {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.clan-div .c-info .c-box .rm-box .member .rm-usn {
  font-size: 15px;
}
.clan-div .c-info .c-box .rm-box .member .rm-usp {
  font-size: 14px;
  color: #959595;
}
.clan-div .c-chat {
  background-color: #fff;
  height: 100%;
  width: 75%;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 2% 100%, 0% 95%, 0 0);
          clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 2% 100%, 0% 95%, 0 0);
  box-shadow: 40px 11px 15px 0px rgba(0, 0, 0, 0.1);
}
.clan-div .c-chat .ch-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0 20px;
  padding: 20px 40px 15px;
  border-bottom: 1px solid #ddd;
}
.clan-div .c-chat .ch-header .cl-img {
  background-color: #f55353;
  border-radius: 50%;
  padding: 13px;
}
.clan-div .c-chat .ch-header .cl-img img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  opacity: 0.5;
}
.clan-div .c-chat .ch-header .cl-i .cln {
  margin-bottom: 5px;
}
.clan-div .c-chat .ch-header .cl-i .cld {
  color: #7d7d7d;
}
.clan-div .c-chat .ch {
  height: calc(100% - 175px);
  overflow-y: auto;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.clan-div .c-chat .ch::-webkit-scrollbar {
  width: 6px;
}
.clan-div .c-chat .ch::-webkit-scrollbar-track {
  background-color: #f1f5f9;
  border-radius: 10px;
}
.clan-div .c-chat .ch::-webkit-scrollbar-thumb {
  background-color: #0e141e;
  border-radius: 10px;
}
.clan-div .c-chat .ch .msg-box {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.clan-div .c-chat .ch .msg-box .msg-info .msg {
  margin-top: 5px;
  padding: 10px;
  border-radius: 6px;
  background-color: #afafaf;
  color: #fff;
}
.clan-div .c-chat .ch .msg-box.to {
  flex-direction: row-reverse;
}
.clan-div .c-chat .ch .msg-box.to .msg-info .msg-usn {
  text-align: end;
}
.clan-div .c-chat .ch .msg-box.to .msg-info .msg {
  background-color: #0e141e;
}
.clan-div .c-chat .ch .msg-box .u-img img {
  width: 64px;
}
.clan-div .c-chat .ch-msg {
  border-top: 1px solid #ddd;
  display: flex;
}
.clan-div .c-chat .ch-msg textarea {
  padding: 20px 75px 10px 40px;
  width: 100%;
  border: none;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  resize: none;
  overflow-y: auto;
}
.clan-div .c-chat .ch-msg textarea::-webkit-scrollbar {
  width: 6px;
}
.clan-div .c-chat .ch-msg textarea::-webkit-scrollbar-track {
  background-color: #f1f5f9;
  border-radius: 10px;
}
.clan-div .c-chat .ch-msg textarea::-webkit-scrollbar-thumb {
  background-color: #0e141e;
  border-radius: 10px;
}
.clan-div .c-chat .ch-msg textarea:focus {
  outline: none;
}
.clan-div .c-chat .ch-msg textarea::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  color: #9f9f9f;
  font-size: 16px;
}
.clan-div .c-chat .ch-msg textarea::placeholder {
  font-family: "Roboto", sans-serif;
  color: #9f9f9f;
  font-size: 16px;
}
.clan-div .c-chat .ch-msg button {
  border: none;
  background-color: #feb139;
  border-radius: 50%;
  padding: 10px;
  margin-right: 18px;
  margin-top: 11px;
  margin-bottom: auto;
  cursor: pointer;
}
.clan-div .c-chat .ch-msg button img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  opacity: 0.5;
  transition: 0.3s;
}/*# sourceMappingURL=clan.css.map */