@use "../../../shared/styles/colors" as *;
@use "../../../shared/styles/mixins" as *;

.clan-div {
  @include center;
  margin-top: 70px;
  margin-left: 120px;
  margin-right: 60px;
  gap: 0 42px;
  height: calc(100vh - 130px);
  .c-info {
    display: flex;
    flex-direction: column;
    gap: 25px 0;
    height: 100%;
    .c-box {
      &:nth-child(1) {
        flex: 2;
      }
      background-color: #fff;
      padding: 15px 20px;
      clip-path: polygon(
        50% 0%,
        100% 0,
        100% 60%,
        100% 100%,
        8% 100%,
        0% 88%,
        0 0
      );
      .c-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: #eaedf2;
        margin-bottom: 10px;
        .ch-icn {
          width: 25px;
          cursor: pointer;
        }
      }
      .m-box {
        display: flex;
        flex-direction: column;
        gap: 5px 0;
        position: relative;
        left: -5px;
        margin-right: 25px;
        margin-bottom: 40px;
        .member {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 0 5px;
          .m-img {
            width: 55px;
            img {
              max-width: 100%;
            }
          }
          .m-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .m-usn {
              font-size: 15px;
            }
            .m-usi {
              font-size: 13px;
              color: #959595;
            }
          }
        }
      }
      .rm-box {
        display: flex;
        flex-direction: column;
        gap: 5px 0;
        margin-bottom: 30px;
        .member {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
          .rm-usn {
            font-size: 15px;
          }
          .rm-usp {
            font-size: 14px;
            color: #959595;
          }
        }
      }
    }
  }
  .c-chat {
    background-color: #fff;
    height: 100%;
    width: 75%;
    clip-path: polygon(
      50% 0%,
      100% 0,
      100% 60%,
      100% 100%,
      2% 100%,
      0% 95%,
      0 0
    );
    box-shadow: 40px 11px 15px 0px rgba(0, 0, 0, 0.1);
    .ch-header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0 20px;
      padding: 20px 40px 15px;
      border-bottom: 1px solid #ddd;
      .cl-img {
        background-color: $redColor;
        border-radius: 50%;
        padding: 13px;
        img {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 32px;
          opacity: 0.5;
        }
      }
      .cl-i {
        .cln {
          margin-bottom: 5px;
        }
        .cld {
          color: #7d7d7d;
        }
      }
    }
    .ch {
      height: calc(100% - 175px);
      overflow-y: auto;
      margin-top: 10px;
      padding-left: 20px;
      padding-right: 20px;
      @include scrollbar;
      .msg-box {
        display: flex;
        align-items: center;
        gap: 0 10px;
        .msg-info {
          .msg {
            margin-top: 5px;
            padding: 10px;
            border-radius: 6px;
            background-color: #afafaf;
            color: #fff;
          }
        }
        &.to {
          flex-direction: row-reverse;
          .msg-info {
            .msg-usn {
              text-align: end;
            }
            .msg {
              background-color: $mainColor;
            }
          }
        }
        .u-img {
          img {
            width: 64px;
          }
        }
      }
    }
    .ch-msg {
      border-top: 1px solid #ddd;
      display: flex;
      textarea {
        // padding: 20px 75px 60px 40px;
        padding: 20px 75px 10px 40px;
        width: 100%;
        border: none;
        font-size: 16px;
        font-family: "Roboto", sans-serif;
        resize: none;
        overflow-y: auto;
        @include scrollbar;
        &:focus {
          outline: none;
        }
        &::placeholder {
          font-family: "Roboto", sans-serif;
          color: #9f9f9f;
          font-size: 16px;
        }
      }
      button {
        border: none;
        background-color: $btnColor;
        border-radius: 50%;
        padding: 10px;
        margin-right: 18px;
        margin-top: 11px;
        margin-bottom: auto;
        cursor: pointer;
        img {
          @include center;
          width: 28px;
          opacity: 0.5;
          transition: 0.3s;
        }
      }
    }
  }
}
