@use "../../../../shared/styles/colors" as *;
@use "../../../../shared/styles/mixins" as *;
@use "./sections/editorsection" as *;
@use "./sections/outputsection" as *;

.esec {
  padding-left: 13px;
  flex: 1;
  height: calc(100vh - 229px);
  overflow-y: auto;
  overflow-x: hidden;
  @include scrollbar;
  @include editorSection;
  @include outputSection;
  .box_match_stats {
    @include center;
    margin-top: 40px;
    .match_stats {
      color: white;
      width: 100%;
      text-align: center;
      margin-top: 10px;
      thead {
        font-weight: bold;
        font-size: 18px;
      }
    }
  }
}
.paginator {
  background-color: #303031;
}
