@use "../../../shared/styles/colors" as *;
@use "../../../shared/styles/mixins" as *;
.auth-main {
  @include center;
  background-color: #fff;
  padding: 30px;
  width: calc(100vw - 600px);
  height: calc(100vh - 85px);
  margin: 60px auto 25px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      linear-gradient(180deg, rgba(245, 83, 83, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
    background-color: $mainColor;
    width: 380px;
    height: calc(100% - 45px);
    top: 0;
    right: 0;
  }
  &::after {
    content: "";
    position: absolute;
    height: 45px;
    width: 100%;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.3) 100%
    );
    background-color: $mainColor;
    bottom: 0;
    clip-path: polygon(100% 0, 99% 38%, 97% 100%, 0 100%, 0 0);
  }
  .cut {
    position: absolute;
    background-color: #eaedf2;
    bottom: 0;
    right: 0;
    border: 22.5px solid;
    border-color: transparent #eaedf2 #eaedf2 transparent;
  }
  .ainfo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 100px;
    .atitle {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 60px;
    }
    form {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      input {
        border: none;
        outline-color: transparent;
        background-color: $btnColor;
        padding: 10px;
        transition: all 0.3s;
        width: 250px;
        border-radius: 3px;
        &:not(:last-of-type) {
          margin-bottom: 30px;
        }
        &:focus {
          outline-color: $redColor;
        }
        &::placeholder {
          color: $mainColor;
          opacity: 0.5;
        }
      }
      button {
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.3) 100%
        );
        background-color: $redColor;
        color: #fff;
        font-weight: 500;
        border: none;
        font-size: 16px;
        padding: 8px 36px;
        margin-top: 45px;
        clip-path: polygon(0 0, 100% 0%, 90% 100%, 0 100%);
        cursor: pointer;
      }
    }
  }
  .auth-img {
    position: relative;
    top: -40px;
    width: fit-content;
    margin-left: 60px;
    &::before {
      content: "";
      position: absolute;
      width: 500px;
      height: 3px;
      background-color: $redColor;
      bottom: 2.5px;
      right: 90px;
    }
    &::after {
      content: "";
      position: absolute;
      width: 300px;
      height: 0.5px;
      background-color: $redColor;
      bottom: 2.5px;
      left: -88%;
    }
    img {
      width: 450px;
    }
  }
}
