@use "../../../shared/styles/colors" as *;
@use "../../../shared/styles/mixins" as *;

.newprofile_container {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: auto;
  .userprofile {
    margin: 0 150px;
    height: 100%;
    width: 100%;
    .up_info {
      margin-top: 30px;
      @include start;
      width: 100%;
      background-color: $mainColor;
      height: 260px;
      position: relative;
      box-shadow: $lightShadow;
      border-radius: 6px;
      .left_up_info {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        height: 100%;
        padding: 30px 30px 20px;

        flex: 2;
        .up_info_img {
          @include center;
          width: 160px;
          height: 160px;
          margin-bottom: auto;
          background-color: white;
          border-radius: 6px;
          margin-right: 30px;
          img {
            max-height: 100%;
            border-radius: 6px;
          }
        }
        .up_info_details {
          width: 100%;
          height: 100%;
          margin-bottom: auto;
          color: white;
          .psi_single_details {
            @include between;
            width: 100%;
            margin-top: 10px;
            margin-bottom: 15px;
            span {
              @include center;
              align-items: flex-end;
              span {
                margin-left: 5px;
              }
              img {
                width: 20px;
                margin-right: 5px;
              }

              .ls {
                color: rgb(0, 255, 0);
                font-weight: bold;
              }
              .friends {
                color: $blueColor;
                font-weight: bold;
              }
            }
            .any {
              color: white;
              font-weight: bold;
              font-size: 16px;
            }
          }
          .up_info_d_box {
            @include between;
            position: relative;
            margin-bottom: 5px;
            .up_info_d_box_names {
              display: flex;
              align-items: flex-start;
              justify-content: flex-start;
              flex-direction: column;
              h3 {
                @include center;
                font-size: 30px;
                margin: 0;
                span {
                  font-size: 16px;
                  margin-left: 5px;
                  padding: 3px;
                  border: 2px solid $btnColor;
                  border-radius: 50%;
                }
              }
              h4 {
                @include center;
                font-size: 16px;
                margin: 0;
                span {
                  font-size: 16px;
                  margin-left: 5px;
                  padding: 3px;
                  border: 2px solid $btnColor;
                  border-radius: 50%;
                }
              }
            }
            .up_info_d_box_edit {
              @include center;
              right: 20px;
              top: 15px;
              cursor: pointer;
              padding: 5px 8px;
              border-radius: 20px;
              transition: 0.3s;
              &:hover {
                background-color: $mainColor2;
              }
              img {
                width: 30px;
                height: 30px;
              }
              span {
                color: white;
                font-weight: bold;
                margin-left: 5px;
                font-size: 18px;
              }
            }
            .up_info_details_controls {
              display: flex;
              gap: 0 10px;
              position: absolute;
              right: 20px;
              justify-content: flex-end;
              width: 100px;

              .user_action_btn {
                @include center;
                text-align: center;
                background-color: $blueColor;
                color: white;
                border: none;
                box-shadow: none;
                height: 40px;
                width: 40px;
                font-size: 16px;
                border-radius: 10px;
                cursor: pointer;
                &:hover {
                  background-color: #008ace;
                }
              }
            }
          }

          h4 {
            color: #ffffffb8;
            font-weight: 200;
            font-size: 16px;
            margin-bottom: 15px;
          }
          p {
            font-size: 18px;
            color: #eaeaea;
            line-height: 1.3;
          }
        }
      }
      .middle_up_info {
        flex: 1;
        height: 100%;
        @include start;
        flex-direction: column;
        color: white;
        padding: 30px 20px 20px 0px;
        .ps_header {
          @include center;
          padding-bottom: 5px;
          margin-bottom: 5px;
          border-bottom: 3px solid $mainColor2;
          h3 {
            color: $hoverColor;
            font-size: 20px;
            font-weight: bold;
          }
        }
        .middle_upper_section {
          width: 100%;
          position: relative;
          @include start;
          margin-top: 20px;
          .rank_img {
            position: absolute;
            top: -10px;
            left: 18px;
            img {
              width: 80px;
              height: 80px;
            }
          }
          .rank_info {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            width: 100%;
            padding-left: 50px;
            margin-bottom: 5px;
            h3 {
              font-size: 18px;
              width: 100%;
              padding: 4px 0px;
              background-color: $mainColorHover2;
              border-radius: 12px 12px 0px 0px;
              padding-left: 52px;
            }
            .rank_box {
              width: 100%;
              @include start;
              background-color: $mainColor2;
              padding: 5px 0px 5px 52px;
              border-top: 1px solid #fff;
              border-radius: 0px 0px 12px 12px;
              img {
                width: 25px;
                height: 25px;
              }
              span {
                font-size: 16px;
                color: #fff;
                font-weight: bold;
                margin-left: 5px;
              }
            }
          }
        }
        .middle_down_section {
          margin-top: 10px;
          width: 100%;
          @include between;
          margin-left: 40px;
          padding: 0 20px;
          .middle_down_info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            h3 {
              font-size: 14px;
              margin-bottom: 10px;
              margin-left: 5px;
              font-weight: 500;
            }
            .middle_down_box {
              position: relative;
              @include start;
              background-color: $mainColor2;
              padding: 8px 50px 8px 0px;
              border-radius: 12px;
              img {
                position: absolute;
                width: 45px;
                height: 45px;
                left: -10px;
              }
              span {
                padding-left: 35px;
                margin-left: 5px;
                font-weight: bold;
              }
            }
          }
        }
      }
      .right_up_info {
        flex: 1;
        height: 100%;
        padding: 10px 0px;
        .ps_info {
          @include center;
          flex-direction: column;
          background-color: $mainColor;
          border-radius: 6px;
          padding: 20px;
          box-shadow: $lightShadow;

          @media (max-width: 1053px) {
            width: 100%;
          }
          .ps_container_box {
            width: 100%;
            @include start;
            flex-direction: column;
            align-items: flex-start;
            color: #f2f2f2;
            .psi_single_details {
              @include between;
              width: 100%;
              margin-top: 10px;
              span {
                @include center;
                align-items: flex-end;
                span {
                  margin-left: 5px;
                }
                img {
                  width: 20px;
                  margin-right: 5px;
                }

                .ls {
                  color: rgb(0, 255, 0);
                  font-weight: bold;
                }
                .friends {
                  color: $blueColor;
                  font-weight: bold;
                }
              }
              .any {
                color: white;
                font-weight: bold;
                font-size: 16px;
              }
            }
          }
          &:not(:last-of-type) {
            margin-bottom: 30px;
          }
          .ps_header {
            @include center;
            padding-bottom: 5px;
            margin-bottom: 5px;
            border-bottom: 3px solid $mainColor2;
            h3 {
              color: $hoverColor;
              font-size: 20px;
              font-weight: bold;
            }
          }
          .ps_container {
            @include center;
            height: 100%;
            margin-top: 5px;
            .psi_box {
              @include center;
              flex-direction: column;
              position: relative;
              height: 150px;
              padding: 10px 15px;
              border-radius: 12px;
              &:not(:last-of-type) {
                margin-right: 60px;
              }
              img {
                width: 85px;
                margin-bottom: 5px;
              }
              .wrapper {
                @include center;
                flex-direction: column;
                span {
                  color: #ddd;
                  font-size: 14px;
                  margin-bottom: 10px;
                }
                h3 {
                  color: #fff;
                  font-size: 20px;
                }
              }
            }
            .psi_badge {
              @include center;
              flex-direction: column;
              position: relative;
              height: 150px;
              &:not(:last-of-type) {
                margin-right: 20px;
              }
              &::after {
                content: "";
                position: absolute;
                height: 3px;
                width: 60px;
                bottom: 17px;
                left: 50%;
                transform: translateX(-50%);
                background-color: #f93535;
                border-radius: 12px;
              }
              img {
                width: 60px;
                margin-bottom: 10px;
              }
              span {
                text-align: center;
                font-weight: bold;
                color: #fff;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
    .userprofile_side {
      @include center;
      margin-top: 30px;
      @media (max-width: 1053px) {
        flex-direction: column-reverse;
      }
    }
  }
}
