.newprofile-container {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: auto;
}
.newprofile-container .userprofile {
  margin: 0 150px;
  height: 100%;
}
.newprofile-container .userprofile .up-info {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: #0e141e;
  height: 240px;
  padding: 30px 30px 20px;
  position: relative;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}
.newprofile-container .userprofile .up-info .up-info-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  margin-bottom: auto;
  background-color: white;
  border-radius: 6px;
  margin-right: 30px;
}
.newprofile-container .userprofile .up-info .up-info-img img {
  max-height: 100%;
  border-radius: 6px;
}
.newprofile-container .userprofile .up-info .up-info-details {
  width: 100%;
  height: 100%;
  margin-bottom: auto;
  color: white;
}
.newprofile-container .userprofile .up-info .up-info-details .up-info-d-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.newprofile-container .userprofile .up-info .up-info-details .up-info-d-box h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.newprofile-container .userprofile .up-info .up-info-details .up-info-d-box h3 span {
  font-size: 16px;
  margin-left: 5px;
  padding: 3px;
  border: 2px solid #feb139;
  border-radius: 50%;
}
.newprofile-container .userprofile .up-info .up-info-details .up-info-d-box .up-info-d-box-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 20px;
  transition: 0.3s;
}
.newprofile-container .userprofile .up-info .up-info-details .up-info-d-box .up-info-d-box-edit:hover {
  background-color: rgba(22, 30, 46, 0.96);
}
.newprofile-container .userprofile .up-info .up-info-details .up-info-d-box .up-info-d-box-edit img {
  width: 30px;
  height: 30px;
}
.newprofile-container .userprofile .up-info .up-info-details .up-info-d-box .up-info-d-box-edit span {
  color: white;
  font-weight: bold;
  margin-left: 5px;
  font-size: 18px;
}
.newprofile-container .userprofile .up-info .up-info-details h4 {
  color: rgba(255, 255, 255, 0.7215686275);
  font-weight: 200;
  font-size: 16px;
  margin-bottom: 15px;
}
.newprofile-container .userprofile .up-info .up-info-details p {
  font-size: 18px;
  color: #eaeaea;
  line-height: 1.3;
}
.newprofile-container .userprofile .up-info .up-info-details .up-info-details-controls {
  display: flex;
  position: absolute;
  bottom: 15px;
  right: 20px;
  justify-content: flex-end;
}
.newprofile-container .userprofile .up-info .up-info-details .up-info-details-controls .groofybtn {
  background-color: #008ace;
  color: white;
  height: 40px;
}
.newprofile-container .userprofile .up-info .up-info-details .up-info-details-controls .groofybtn img {
  width: 20px;
}
.newprofile-container .userprofile .up-info .up-info-details .up-info-details-controls .groofybtn:hover {
  background-color: #00a9ff;
}
.newprofile-container .userprofile .up-info .up-info-details .up-info-details-controls .groofybtn .btn-text {
  font-size: 16px;
}
.newprofile-container .userprofile .up-info .up-info-details .up-info-details-controls .groofybtn:not(:last-of-type) {
  margin-right: 10px;
  background-color: #008ace;
}
.newprofile-container .userprofile .up-info .up-info-details .up-info-details-controls .groofybtn:not(:last-of-type):hover {
  background-color: #00a9ff;
}
.newprofile-container .userprofile .userprofile-side {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
}
.newprofile-container .userprofile .userprofile-side .up-side-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 3;
  margin-bottom: auto;
}
.newprofile-container .userprofile .userprofile-side .up-side-left .media-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.newprofile-container .userprofile .userprofile-side .up-side-left .media-section .media-selectors {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  color: #f2f2f2;
  margin-bottom: 20px;
  background-color: #0e141e;
  border-radius: 6px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
}
.newprofile-container .userprofile .userprofile-side .up-side-left .media-section .media-selectors.false {
  margin-bottom: 0px;
}
.newprofile-container .userprofile .userprofile-side .up-side-left .media-section .media-selectors .ms {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
  width: 100%;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: 0.3s;
}
.newprofile-container .userprofile .userprofile-side .up-side-left .media-section .media-selectors .ms:hover {
  background-color: rgba(22, 30, 46, 0.96);
}
.newprofile-container .userprofile .userprofile-side .up-side-left .media-section .media-selectors .ms h3 {
  font-size: 20px;
}
.newprofile-container .userprofile .userprofile-side .up-side-left .media-section .media-selectors .ms.active {
  background-color: #1a2335;
  border-bottom-color: #eee;
}
.newprofile-container .userprofile .userprofile-side .up-side-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 30px;
}
.newprofile-container .userprofile .userprofile-side .up-side-right .profile-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.newprofile-container .userprofile .userprofile-side .up-side-right .profile-section .ps-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0e141e;
  border-radius: 6px;
  padding: 20px;
  width: 290px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
}
.newprofile-container .userprofile .userprofile-side .up-side-right .profile-section .ps-info .ps-container-box {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  align-items: start;
  color: #f2f2f2;
}
.newprofile-container .userprofile .userprofile-side .up-side-right .profile-section .ps-info .ps-container-box .psi-single-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
.newprofile-container .userprofile .userprofile-side .up-side-right .profile-section .ps-info .ps-container-box .psi-single-details span {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
}
.newprofile-container .userprofile .userprofile-side .up-side-right .profile-section .ps-info .ps-container-box .psi-single-details span span {
  margin-left: 5px;
}
.newprofile-container .userprofile .userprofile-side .up-side-right .profile-section .ps-info .ps-container-box .psi-single-details span img {
  width: 20px;
  margin-right: 5px;
}
.newprofile-container .userprofile .userprofile-side .up-side-right .profile-section .ps-info .ps-container-box .psi-single-details span .ls {
  color: rgb(0, 255, 0);
  font-weight: bold;
}
.newprofile-container .userprofile .userprofile-side .up-side-right .profile-section .ps-info .ps-container-box .psi-single-details span .friends {
  color: #00a9ff;
  font-weight: bold;
}
.newprofile-container .userprofile .userprofile-side .up-side-right .profile-section .ps-info .ps-container-box .psi-single-details .any {
  color: white;
  font-weight: bold;
  font-size: 16px;
}
.newprofile-container .userprofile .userprofile-side .up-side-right .profile-section .ps-info:not(:last-of-type) {
  margin-bottom: 30px;
}
.newprofile-container .userprofile .userprofile-side .up-side-right .profile-section .ps-info .ps-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 5px;
  border-bottom: 3px solid rgba(22, 30, 46, 0.96);
}
.newprofile-container .userprofile .userprofile-side .up-side-right .profile-section .ps-info .ps-header h3 {
  color: #f2f2f2;
  font-size: 20px;
  font-weight: bold;
}
.newprofile-container .userprofile .userprofile-side .up-side-right .profile-section .ps-info .ps-header .info-btn {
  width: 18px;
  cursor: pointer;
}
.newprofile-container .userprofile .userprofile-side .up-side-right .profile-section .ps-info .ps-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.newprofile-container .userprofile .userprofile-side .up-side-right .profile-section .ps-info .ps-container .psi-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 150px;
  padding: 10px 15px;
  margin: 0 -40px;
  border-radius: 12px;
}
.newprofile-container .userprofile .userprofile-side .up-side-right .profile-section .ps-info .ps-container .psi-box:not(:last-of-type) {
  margin-right: 60px;
}
.newprofile-container .userprofile .userprofile-side .up-side-right .profile-section .ps-info .ps-container .psi-box img {
  width: 85px;
}
.newprofile-container .userprofile .userprofile-side .up-side-right .profile-section .ps-info .ps-container .psi-box .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.newprofile-container .userprofile .userprofile-side .up-side-right .profile-section .ps-info .ps-container .psi-box .wrapper span {
  color: #ddd;
  font-size: 14px;
}
.newprofile-container .userprofile .userprofile-side .up-side-right .profile-section .ps-info .ps-container .psi-box .wrapper h3 {
  color: #fff;
  font-size: 20px;
}
.newprofile-container .userprofile .userprofile-side .up-side-right .profile-section .ps-info .ps-container .psi-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 150px;
}
.newprofile-container .userprofile .userprofile-side .up-side-right .profile-section .ps-info .ps-container .psi-badge:not(:last-of-type) {
  margin-right: 20px;
}
.newprofile-container .userprofile .userprofile-side .up-side-right .profile-section .ps-info .ps-container .psi-badge::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 60px;
  bottom: 17px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f93535;
  border-radius: 12px;
}
.newprofile-container .userprofile .userprofile-side .up-side-right .profile-section .ps-info .ps-container .psi-badge img {
  width: 60px;
  margin-bottom: 10px;
}
.newprofile-container .userprofile .userprofile-side .up-side-right .profile-section .ps-info .ps-container .psi-badge span {
  text-align: center;
  font-weight: bold;
  color: #fff;
  font-size: 14px;
}/*# sourceMappingURL=profile.css.map */