@use "../../../shared/styles/colors" as *;
@use "../../../shared/styles/mixins" as *;

.profile-page-style {
  margin: auto;
  .profile-main {
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
}
