@use "../../../shared/styles/colors" as *;
.match-div {
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 768px) {
    width: 750px;
  }
  @media (min-width: 992px) {
    width: 970px;
  }
  @media (min-width: 1200px) {
    width: 1510px;
  }
  .match-sections {
    display: flex;
    margin-top: 25px;
    .psec,
    .esec {
      flex: 1;
      min-height: calc(100vh - 222px);
    }
  }
}
