@use "../../../../../shared/styles/colors" as *;
@use "../../../../../shared/styles/mixins" as *;

.single-follow-card {
    @include between;
    position: relative;
    padding: 10px;
    border-radius: 12px;
    .sfcard-info{
        @include center;
        img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            cursor: pointer;
        }
        h3{
            margin-left: 10px;
            font-size: 16px;
        }
    }
    span{
        font-size: 16px;
        padding: 8px 15px;
        border-radius: 20px;
        background-color: $mainColor;
        outline: 2px solid transparent;
        cursor: pointer;
        transition: 0.3s;
        font-weight: bold;
        font-size: 12px;
        box-shadow: $headerShadow;
    }
    .follow{
        color: white;
        &:hover{
            background-color: white;
            color: $mainColor;
        }
    }
    .unfollow{
        color: $mainColor;
        background-color: white;
        &:hover{
            background-color: $mainColor;
            color: white;
        }
    }
    &:hover{
        background-color: $hoverColor;
    }
}