@use "../../../shared/styles/colors" as *;
@use "../../../shared/styles/mixins" as *;

.clan_search {
  .search_area {
    position: relative;
    @include center;
    margin-top: 35px;
    border-bottom: 2px solid $mainColor;
    padding-bottom: 20px;
    .prime_input {
      width: calc(100% - 700px);
      border-radius: 25px;
      background-color: $mainColor;
      margin-right: 20px;
    }
    i {
      position: absolute;
      right: 465px;
      color: $hoverColor;
    }
    .create_btn {
      background-color: #16b308;
      border-color: #16b308;
      border-radius: 25px;
      color: white;

      &:focus,
      &:hover,
      &:active {
        background-color: $greenColor;
        border-color: $greenColor;
        box-shadow: none;
      }
    }
  }
  .clan_results {
    @include start;
    gap: 18px;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .paginator {
    @include center;
    padding-bottom: 30px;
    .pag_btn {
      @include center;
      background-color: $mainColor;
      color: white;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      margin: 0 5px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background-color: $mainColorHover2;
      }
      &.active {
        background-color: $hoverColor;
      }
    }
  }
}
