@use "../../../../shared/styles/colors" as *;
@use "../../../../shared/styles/mixins" as *;
.header-div {
  height: 60px;
  @include between;
  padding: 0 20px;
  background-color: $mainColor;
  .logo {
    width: 130px;
    position: relative;
    span {
      color: white;
      font-size: 26px;
      font-weight: bold;
      user-select: none;
      span {
        color: $blueColor;
      }
    }
    &::after {
      content: "";
      position: absolute;
      width: 2px;
      height: 20px;
      background-color: rgb(59, 67, 85);
      right: -30px;
      top: 4px;
    }
  }
  .m-dur {
    color: #fff;
    font-size: 25px;
    user-select: none;
    span {
      color: $yellowColor;
    }
  }
  .user-area {
    @include center;
    user-select: none;
    gap: 0 3px;
    .h-usn {
      color: #fff;
      font-weight: 400;
      font-size: 18px;
    }
    .h-imgbox {
      position: relative;
      margin-right: 2px;
      .pr-ph {
        border-radius: 50%;
        width: 60px;
        height: 60px;
      }
    }
  }
}
