@use "../../../shared/styles/colors" as *;
@use "../../../shared/styles/mixins" as *;

.play-container {

  @include center;
  background-color: #fff;
  .gamemode {
    @include between;
    flex: 1;
    height: 350px;
    padding: 10px 40px;
    &:first-of-type {
      flex-direction: row-reverse;
      background-color: #dea248;
      .gm-info {
        text-align: end;
        h3 {
          &::after {
            right: 0;
          }
        }
      }
    }
    &:last-of-type {
      background-color:  #2992d8;
      h3 {
        &::after {
          left: 0;
        }
      }
    }
    .gm-info {
      h3 {
        font-size: 70px;
        color: #fff;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          bottom: 5px;
          height: 2px;
          width: 100%;
          background-color: #eeee;
        }
      }
      p {
        width: 300px;
        line-height: 1.6;
      }
    }
    .groofybtn {
      background-color: $mainColor;
      color: #fff;
    }
  }
}
