.drop_down_panel
  [class~="p-dropdown-items-wrapper"]
  [class~="p-dropdown-items"]
  [class~="p-dropdown-item" + "p-highlight"] {
  background-color: #313334;
  border-radius: 6px 6px 0px 0px;
}

.drop_down_panel [class~="p-dropdown-header"] {
  background-color: #242526;
  border-radius: 6px 6px 0px 0px;
}

.drop_down_panel [class~="p-dropdown-header"] input {
  background-color: #313334;
  box-shadow: none;
}

.drop_down_panel
  [class~="p-dropdown-items-wrapper"]
  [class~="p-dropdown-items"] {
  background-color: #242526;
  border-radius: 6px;
}
