.home-container {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: auto;
}
.home-container .activity-section {
  width: 900px;
  height: 100%;
}
.home-container .activity-section .play-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-container .activity-section .play-section .play-section-features .p-s-f-header {
  color: #f2f2f2;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  font-size: 20px;
  width: 100%;
}
.home-container .activity-section .play-section .play-section-features .play-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-container .activity-section .play-section .play-section-gamemode .p-s-g-header {
  color: #f2f2f2;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  font-size: 20px;
  width: 100%;
}
.home-container .activity-section .play-section .play-section-gamemode .gamemode-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 310px;
}
.home-container .activity-section .media-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;
  margin-bottom: 200px;
}
.home-container .activity-section .media-section .posts-container {
  flex: 2;
}
.home-container .activity-section .media-section .posts-container .post-header {
  color: #f2f2f2;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  font-size: 20px;
  width: calc(100% - 50px);
}
.home-container .activity-section .media-section .posts-container .post-box {
  background-color: #0e141e;
  padding: 15px 25px 20px 25px;
  width: calc(100% - 38px);
  border-radius: 6px;
  margin-right: 20px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
}
.home-container .activity-section .media-section .posts-container .post-box .post-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.home-container .activity-section .media-section .posts-container .post-box .post-row img {
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.home-container .activity-section .media-section .posts-container .post-box .post-row textarea {
  font-family: OpenSans, Arial, Helvetica, sans-serif;
  width: 330px;
  overflow-y: hidden;
  border: none;
  padding: 12.2px 15px 5px;
  border-radius: 6px;
  background-color: #161e2e;
  caret-color: #f2f2f2;
  color: #f2f2f2;
  margin-right: 20px;
  resize: none;
}
.home-container .activity-section .media-section .posts-container .post-box .post-row textarea:focus {
  outline: none;
}
.home-container .activity-section .media-section .posts-container .post-box .post-row .groofybtn {
  background-color: #008ace;
  box-shadow: none;
  color: white;
}
.home-container .activity-section .media-section .posts-container .post-box .post-row .groofybtn:hover {
  background-color: #00A9FF;
}
.home-container .activity-section .media-section .posts-container .post-box .post-row .groofybtn img {
  width: 24px;
  margin-right: 0;
}
.home-container .activity-section .media-section .posts-container .post-box .post-row .groofybtn span {
  font-size: 12px;
}
.home-container .activity-section .media-section .profile-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-container .activity-section .media-section .profile-section .ps-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0e141e;
  border-radius: 6px;
  padding: 20px;
  width: 290px;
}
.home-container .activity-section .media-section .profile-section .ps-info:not(:last-of-type) {
  margin-bottom: 30px;
}
.home-container .activity-section .media-section .profile-section .ps-info .ps-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 5px;
  border-bottom: 3px solid #161e2e;
}
.home-container .activity-section .media-section .profile-section .ps-info .ps-header h3 {
  color: #f2f2f2;
  font-size: 18px;
  font-weight: bold;
}
.home-container .activity-section .media-section .profile-section .ps-info .ps-header .info-btn {
  width: 18px;
  cursor: pointer;
}
.home-container .activity-section .media-section .profile-section .ps-info .ps-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-container .activity-section .media-section .profile-section .ps-info .ps-container .psi-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 150px;
  padding: 10px 15px;
  margin: 0 -40px;
  border-radius: 12px;
}
.home-container .activity-section .media-section .profile-section .ps-info .ps-container .psi-box:not(:last-of-type) {
  margin-right: 60px;
}
.home-container .activity-section .media-section .profile-section .ps-info .ps-container .psi-box img {
  width: 95px;
}
.home-container .activity-section .media-section .profile-section .ps-info .ps-container .psi-box .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-container .activity-section .media-section .profile-section .ps-info .ps-container .psi-box .wrapper span {
  color: #ddd;
  font-size: 12px;
}
.home-container .activity-section .media-section .profile-section .ps-info .ps-container .psi-box .wrapper h3 {
  color: #fff;
  font-size: 20px;
}
.home-container .activity-section .media-section .profile-section .ps-info .ps-container .psi-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 150px;
}
.home-container .activity-section .media-section .profile-section .ps-info .ps-container .psi-badge:not(:last-of-type) {
  margin-right: 20px;
}
.home-container .activity-section .media-section .profile-section .ps-info .ps-container .psi-badge::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 60px;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f93535;
  border-radius: 12px;
}
.home-container .activity-section .media-section .profile-section .ps-info .ps-container .psi-badge img {
  width: 70px;
  margin-bottom: 10px;
}
.home-container .activity-section .media-section .profile-section .ps-info .ps-container .psi-badge span {
  text-align: center;
  font-weight: bold;
  color: #fff;
  font-size: 11px;
}
.home-container .activity-section .last-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.home-container .activity-section .last-section .empty-section {
  flex: 2;
}
.home-container .activity-section .last-section .follow-card {
  width: 290px;
}/*# sourceMappingURL=home.css.map */