@use "../../../shared/styles/colors" as *;
@use "../../../shared/styles/mixins" as *;

.home_container {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: auto;

  .activity_section {
    margin: 0 auto;
    height: 100%;
    .play_section {
      margin-top: 30px;
      @include between;
      .play_section_features {
        width: calc(100% - 340px);
        .psf_header {
          color: $hoverColor;
          margin-bottom: 20px;
          border-bottom: 1px solid #fff;
          padding-bottom: 15px;
          font-size: 26px;
          width: 100%;
        }
        .play_container {
          @include center;
        }
      }
      .play_section_gamemode {
        .psg_header {
          color: $hoverColor;
          margin-bottom: 20px;
          border-bottom: 1px solid #fff;
          padding-bottom: 15px;
          font-size: 26px;
          width: 100%;
        }
        .gamemode_box {
          @include between;
          flex-direction: column;
          height: 310px;
        }
      }
    }
    .media_section {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 50px;
      margin-bottom: 200px;
      .home_posts_container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        .hpc_title {
          color: $hoverColor;
          margin-bottom: 20px;
          border-bottom: 1px solid #fff;
          padding-bottom: 15px;
          font-size: 26px;
          width: calc(100% - 50px);
        }
      }
      .profile_section {
        @include center;
        flex-direction: column;
        .ps_info {
          @include center;
          flex-direction: column;
          background-color: $mainColor;
          border-radius: 6px;
          padding: 20px;
          width: 290px;
          &:not(:last-of-type) {
            margin-bottom: 30px;
          }
          .ps_header {
            width: 100%;
            @include between;
            padding-bottom: 10px;
            margin-bottom: 5px;
            border-bottom: 3px solid $mainColor2;
            h3 {
              color: $hoverColor;
              font-size: 20px;
              font-weight: bold;
            }
            .info_btn {
              width: 18px;
              cursor: pointer;
            }
          }
          .ps_container {
            @include center;
            .psi_box {
              @include center;
              flex-direction: column;
              position: relative;
              height: 150px;
              padding: 10px 15px;
              margin: 0 -40px;
              border-radius: 12px;
              &:not(:last-of-type) {
                margin-right: 60px;
              }
              img {
                width: 85px;
              }
              .wrapper {
                @include center;
                flex-direction: column;
                span {
                  color: #ddd;
                  font-size: 14px;
                }
                h3 {
                  color: #fff;
                  font-size: 22px;
                }
              }
            }
            .psi_badge {
              @include center;
              flex-direction: column;
              position: relative;
              height: 150px;
              &:not(:last-of-type) {
                margin-right: 20px;
              }
              &::after {
                content: "";
                position: absolute;
                height: 3px;
                width: 60px;
                bottom: 17px;
                left: 50%;
                transform: translateX(-50%);
                background-color: #f93535;
                border-radius: 12px;
              }
              img {
                width: 60px;
                margin-bottom: 10px;
              }
              span {
                text-align: center;
                font-weight: bold;
                color: #fff;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
