@use "../../../shared/styles/colors" as *;
@use "../../../shared/styles/mixins" as *;

.home-div {
  @include center;
  flex-direction: column;
  @media (min-width: 768px) {
    width: 750px;
    margin: auto;
  }
  @media (min-width: 992px) {
    width: 970px;
    margin: auto;
  }
  @media (min-width: 1200px) {
    width: 100%;
  }
  @media (min-width: 1800px) {
    width: 1510px;
    margin: auto;
  }
  .h-wrapper {
    @include between;
    width: 100%;
    margin-top: 25px;
    .h-content {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: calc(100% - 125px);
      margin-left: 40px;
      .activities-section {
        @include center;
        flex-direction: column;
        .ac-box {
          width: 300px;
          &:not(:last-of-type) {
            margin-bottom: 60px;
          }
        }
      }
    }
  }
}
