@use "../../../shared/styles/colors" as *;
@use "../../../shared/styles/mixins" as *;



.home-container{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    .mainhome {
        display: flex;
        position: relative;
        margin: auto;
        width: 100%;
        margin-top: 50px;
        .actionsection {
            flex: 1;
            flex-direction: column;
            gap: 40px;
        }
    }
    .background {
        flex: 3;
        margin-right: 80px;
        margin-left: 150px;
    }
    .events-background {
    margin-bottom: 50px;
    }
    @media (max-width: 400px) {
    width: 100vw;
    }
    @media (min-width: 2000px) {
    width: 90vw;
    } 
    @media (min-width: 2400px) {
    width: 80vw;
    } 
    @media (min-width: 2800px) {
    width: 70vw;
    } 
    @media (min-width: 3200px) {
    width: 60vw;
    } 
    @media (min-width: 3600px) {
    width: 50vw;

    } 
    @media (min-width: 4000px) {
    width: 40vw;
    } 
    @media (min-width: 4400px) {
    width: 30vw;
    } 
      
  }

