@use "../../../shared/styles/colors" as *;
@use "../../../shared/styles/mixins" as *;
.home-container {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: auto;
  .activity-section {
    width: 900px;
    height: 100%;
    .play-section {
      @include between;
      .play-section-features {
        // @include start;
        // flex-direction: column;
        .p-s-f-header {
          color: $hoverColor;
          margin-bottom: 20px;
          border-bottom: 1px solid #eee;
          padding-bottom: 15px;
          font-size: 20px;
          width: 100%;
        }
        .play-container {
          @include center;
        }
      }
      .play-section-gamemode {
        .p-s-g-header {
          color: $hoverColor;
          margin-bottom: 20px;
          border-bottom: 1px solid #eee;
          padding-bottom: 15px;
          font-size: 20px;
          width: 100%;
        }
        .gamemode-box {
          @include between;
          flex-direction: column;
          height: 310px;
        }
      }
    }
    .media-section {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 50px;
      .posts-container {
        flex: 2;
        .post-header {
          color: $hoverColor;
          margin-bottom: 20px;
          border-bottom: 1px solid #eee;
          padding-bottom: 15px;
          font-size: 20px;
          width: calc(100% - 50px);
        }
        .post-box {
          background-color: $mainColor;
          padding: 15px 25px 20px 25px;
          width: fit-content;
          border-radius: 6px;
          margin-right: 20px;
          box-shadow: $lightShadow;
          .post-row {
            @include center;
            margin-bottom: 20px;
            img {
              width: 40px;
              border-radius: 50%;
              margin-right: 10px;
            }
            input {
              width: 330px;
              height: 45px;
              max-height: 70px;
              border: none;
              padding: 12.2px 15px;
              border-radius: 6px;
              background-color: #161e2e;
              caret-color: $hoverColor;
              color: $hoverColor;
              margin-right: 20px;
              &:focus {
                outline: none;
              }
            }
            .groofybtn {
              background-color: #008ace;
              box-shadow: none;
              color: white;
              // margin-left: 30px;
              &:hover {
                background-color: $blueColor;
              }
              img {
                width: 24px;
                margin-right: 0;
              }
              span {
                font-size: 12px;
              }
            }
          }
        }
      }
      .profile-section {
        @include center;
        flex-direction: column;
        .ps-info {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          background-color: $mainColor;
          border-radius: 6px;
          padding: 20px;
          width: 290px;
          &:not(:last-of-type) {
            margin-bottom: 30px;
          }
          .ps-header {
            width: 100%;
            padding-bottom: 10px;
            margin-bottom: 10px;
            color: $hoverColor;
            font-size: 18px;
            font-weight: bold;
            border-bottom: 3px solid #161e2e;
          }
          .ps-container {
            @include between;
            .psi-box {
              @include center;
              &:not(:last-of-type) {
                margin-right: 15px;
              }
              img {
                width: 50px;
                margin-right: 10px;
              }
              .wrapper {
                span {
                  color: #ddd;
                  font-size: 12px;
                }
                h3 {
                  color: #fff;
                  font-size: 20px;
                }
              }
            }
            .psi-badge {
              @include center;
              flex-direction: column;
              position: relative;
              &:not(:last-of-type) {
                margin-right: 20px;
              }
              &::after {
                content: "";
                position: absolute;
                height: 3px;
                width: 60px;
                bottom: -10px;
                left: 50%;
                transform: translateX(-50%);
                background-color: #f93535;
                border-radius: 12px;
              }
              img {
                width: 60px;
                margin-bottom: 10px;
              }
              span {
                text-align: center;
                font-weight: bold;
                color: #fff;
                font-size: 11px;
              }
            }
          }
        }
      }
      // .profile-card {
      //   width: 290px;
      //   margin-right: 0;
      // }
    }
    .last-section {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .empty-section {
        flex: 2;
      }
      .follow-card {
        width: 290px;
      }
    }
    // .status-container {
    //   @include center;
    //   flex-direction: column;
    // }
    // .blogs-container {
    //   @include center;
    //   flex-direction: column;
    // }
    // .events-container {
    //   @include center;
    //   flex-direction: column;
    //   position: sticky;
    //   top: 60px;
    // }
  }
}
